{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam libero aliquam magnam, est distinctio, vitae dicta ut obcaecati, quibusdam quia hic tenetur. Vero doloremque repudiandae sint alias nobis dolorum debitis.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit vero dolores molestiae possimus autem ipsum consectetur, rem unde quos incidunt, aliquam itaque eum ipsa, reprehenderit consequuntur quidem esse deleniti cum!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae iusto, ab iste eos ipsum, blanditiis soluta ipsam at similique atque magni officia, aut obcaecati voluptatum quod sed officiis, commodi veritatis.</p>
    </div>
</div>

{% endblock %}